<a href="https://colab.research.google.com/github/Hamsini-Harini/DI_Bootcamp/blob/main/W10%20Day%204%20-%20Mini%20Project%20Exercise%20-%20Adv_SQL_Mini_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np # linear algebra
import pandas as pd
import sqlite3

df_olist_customers = pd.read_csv('/content/olist_customers_dataset.csv')
df_olist_sellers = pd.read_csv('/content/olist_sellers_dataset.csv')
df_olist_order_reviews= pd.read_csv('/content/olist_order_reviews_dataset.csv')
df_olist_order_items= pd.read_csv('/content/olist_order_items_dataset.csv')
df_olist_products= pd.read_csv('/content/olist_products_dataset.csv')
df_olist_geolocation= pd.read_csv('/content/olist_geolocation_dataset.csv')
df_product_category_name_translation= pd.read_csv('/content/product_category_name_translation.csv')
df_olist_orders = pd.read_csv('/content/olist_orders_dataset.csv')
df_olist_order_payments= pd.read_csv('/content/olist_order_payments_dataset.csv')

df_olist_customers.head()

from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

# export the dataframe as a table 'playstore' to the sqlite engine
df_olist_customers.to_sql("olist_customers", con =engine)
df_olist_sellers.to_sql("olist_sellers", con =engine)
df_olist_order_reviews.to_sql("olist_order_reviews", con =engine)
df_olist_order_items.to_sql("olist_order_items", con =engine)
df_olist_products.to_sql("olist_products_dataset", con =engine)
df_olist_geolocation.to_sql("olist_geolocation", con =engine)
df_product_category_name_translation.to_sql("product_category_name_translation", con =engine)
df_olist_orders.to_sql("olist_orders", con =engine)
df_olist_order_payments.to_sql("olist_order_payments", con =engine)
df_olist_order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [10]:
# TEST
sql='''
Select * from olist_customers
limit 5
''';


df_sql = pd.read_sql_query(sql,con=engine)
df_sql.head()

,index,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

Create a SQLite database using SQLAlchemy.

In [11]:
# Import necessary libraries
from sqlalchemy import create_engine

# Step 1: Create an SQLite engine
# The SQLite database file will be saved in the current working directory
# 'sqlite:///your_database_name.db' means SQLite will create a file with the name 'your_database_name.db'
engine = create_engine('sqlite:///my_new_database.db', echo=True)

# Step 2: Check if the engine is working by creating a connection
connection = engine.connect()

# Now the database 'my_new_database.db' is created and stored in the file system.
# You can use the engine to execute SQL queries or load tables (as we've already done with your dataframes).

Export each dataframe as a table to the SQLite database.

In [12]:
from sqlalchemy import create_engine, inspect
# Step 2: Export the dataframes as tables in the SQLite database
# Assuming you already have the following dataframes loaded in memory

# Export each dataframe as a table in the SQLite database
df_olist_customers.to_sql("olist_customers", con=engine, if_exists='replace', index=False)
df_olist_sellers.to_sql("olist_sellers", con=engine, if_exists='replace', index=False)
df_olist_order_reviews.to_sql("olist_order_reviews", con=engine, if_exists='replace', index=False)
df_olist_order_items.to_sql("olist_order_items", con=engine, if_exists='replace', index=False)
df_olist_products.to_sql("olist_products", con=engine, if_exists='replace', index=False)
df_olist_geolocation.to_sql("olist_geolocation", con=engine, if_exists='replace', index=False)
df_product_category_name_translation.to_sql("product_category_name_translation", con=engine, if_exists='replace', index=False)
df_olist_orders.to_sql("olist_orders", con=engine, if_exists='replace', index=False)
df_olist_order_payments.to_sql("olist_order_payments", con=engine, if_exists='replace', index=False)

# Step 3: Use the inspect function to list all table names
inspector = inspect(engine)
table_list = inspector.get_table_names()
print("Tables in the database:", table_list)

2024-10-29 17:10:11,415 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:11,430 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_customers")

2024-10-29 17:10:11,434 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,437 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_customers")

2024-10-29 17:10:11,439 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,442 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:11,444 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,447 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:11,449 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,452 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("olist_customers")

2024-10-29 17:10:11,455 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,457 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:11,459 INFO sqlalchemy.engine.Engine [raw sql] ('olist_customers',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_customers',)

2024-10-29 17:10:11,462 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("olist_customers")

2024-10-29 17:10:11,464 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,467 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("olist_customers")

2024-10-29 17:10:11,469 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,471 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:11,473 INFO sqlalchemy.engine.Engine [raw sql] ('olist_customers',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_customers',)

2024-10-29 17:10:11,476 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_customers")

2024-10-29 17:10:11,478 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,480 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_customers")

2024-10-29 17:10:11,482 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,485 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_customers")

2024-10-29 17:10:11,487 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,494 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_customers")

2024-10-29 17:10:11,498 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,500 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_customers")

2024-10-29 17:10:11,504 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,509 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_customers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_customers")

2024-10-29 17:10:11,511 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:11,515 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:11,520 INFO sqlalchemy.engine.Engine [raw sql] ('olist_customers',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_customers',)

2024-10-29 17:10:11,527 INFO sqlalchemy.engine.Engine
DROP TABLE olist_customers

INFO:sqlalchemy.engine.Engine:
DROP TABLE olist_customers

2024-10-29 17:10:11,532 INFO sqlalchemy.engine.Engine [no key 0.00493s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00493s] ()

2024-10-29 17:10:11,704 INFO sqlalchemy.engine.Engine
CREATE TABLE olist_customers (
	customer_id TEXT,
	customer_unique_id TEXT,
	customer_zip_code_prefix BIGINT,
	customer_city TEXT,
	customer_state TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE olist_customers (
	customer_id TEXT,
	customer_unique_id TEXT,
	customer_zip_code_prefix BIGINT,
	customer_city TEXT,
	customer_state TEXT
)

2024-10-29 17:10:11,710 INFO sqlalchemy.engine.Engine [no key 0.00606s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00606s] ()

2024-10-29 17:10:12,316 INFO sqlalchemy.engine.Engine INSERT INTO olist_customers (customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state) VALUES (?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO olist_customers (customer_id, customer_unique_id, customer_zip_code_prefix, customer_city, customer_state) VALUES (?, ?, ?, ?, ?)

2024-10-29 17:10:12,320 INFO sqlalchemy.engine.Engine [generated in 0.46419s] [('06b8999e2fba1a1fbc88172c00ba8bc7', '861eff4711a542e4b93843c6dd7febb0', 14409, 'franca', 'SP'), ('18955e83d337fd6b2def6b18a428ac77', '290c77bc529b7ac935b93aa66c333dc3', 9790, 'sao bernardo do campo', 'SP'), ('4e7b3e00288586ebd08712fdd0374a03', '060e732b5b29e8181a18229c7b0b2b5e', 1151, 'sao paulo', 'SP'), ('b2b6027bc5c5109e529d4dc6358b12c3', '259dac757896d24d7702b9acbbff3f3c', 8775, 'mogi das cruzes', 'SP'), ('4f2d8ab171c80ec8364f7c12e35b23ad', '345ecd01c38d18a9036ed96c73b8d066', 13056, 'campinas', 'SP'), ('879864dab9bc3047522c92c82e1212b8', '4c93744516667ad3b8f1fb645a3116a4', 89254, 'jaragua do sul', 'SC'), ('fd826e7cf63160e536e0908c76c3f441', 'addec96d2e059c80c30fe6871d30d177', 4534, 'sao paulo', 'SP'), ('5e274e7a0c3809e14aba7ad5aae0d407', '57b2a98a409812fe9618067b6b8ebe4f', 35182, 'timoteo', 'MG')  ... displaying 10 of 99441 total bound parameter sets ...  ('56b18e2166679b8a959d72dd06da27f9', '73c2643a0a458b49f58cea58833b192e', 92120, 'canoas', 'RS'), ('274fa6071e5e17fe303b9748641082c8', '84732c5050c01db9b23e19ba39899398', 6703, 'cotia', 'SP')]

INFO:sqlalchemy.engine.Engine:[generated in 0.46419s] [('06b8999e2fba1a1fbc88172c00ba8bc7', '861eff4711a542e4b93843c6dd7febb0', 14409, 'franca', 'SP'), ('18955e83d337fd6b2def6b18a428ac77', '290c77bc529b7ac935b93aa66c333dc3', 9790, 'sao bernardo do campo', 'SP'), ('4e7b3e00288586ebd08712fdd0374a03', '060e732b5b29e8181a18229c7b0b2b5e', 1151, 'sao paulo', 'SP'), ('b2b6027bc5c5109e529d4dc6358b12c3', '259dac757896d24d7702b9acbbff3f3c', 8775, 'mogi das cruzes', 'SP'), ('4f2d8ab171c80ec8364f7c12e35b23ad', '345ecd01c38d18a9036ed96c73b8d066', 13056, 'campinas', 'SP'), ('879864dab9bc3047522c92c82e1212b8', '4c93744516667ad3b8f1fb645a3116a4', 89254, 'jaragua do sul', 'SC'), ('fd826e7cf63160e536e0908c76c3f441', 'addec96d2e059c80c30fe6871d30d177', 4534, 'sao paulo', 'SP'), ('5e274e7a0c3809e14aba7ad5aae0d407', '57b2a98a409812fe9618067b6b8ebe4f', 35182, 'timoteo', 'MG')  ... displaying 10 of 99441 total bound parameter sets ...  ('56b18e2166679b8a959d72dd06da27f9', '73c2643a0a458b49f58cea58833b192e', 92120, 'canoas', 'RS'), ('274fa6071e5e17fe303b9748641082c8', '84732c5050c01db9b23e19ba39899398', 6703, 'cotia', 'SP')]

2024-10-29 17:10:12,574 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:12,606 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:12,614 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_sellers")

2024-10-29 17:10:12,617 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,622 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_sellers")

2024-10-29 17:10:12,625 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,628 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:12,630 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,633 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:12,636 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,639 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("olist_sellers")

2024-10-29 17:10:12,641 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,644 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:12,646 INFO sqlalchemy.engine.Engine [raw sql] ('olist_sellers',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_sellers',)

2024-10-29 17:10:12,649 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("olist_sellers")

2024-10-29 17:10:12,651 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,654 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("olist_sellers")

2024-10-29 17:10:12,656 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,659 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:12,661 INFO sqlalchemy.engine.Engine [raw sql] ('olist_sellers',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_sellers',)

2024-10-29 17:10:12,663 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_sellers")

2024-10-29 17:10:12,666 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,673 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_sellers")

2024-10-29 17:10:12,675 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,678 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_sellers")

2024-10-29 17:10:12,683 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,685 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_sellers")

2024-10-29 17:10:12,688 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,712 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_sellers")

2024-10-29 17:10:12,714 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,716 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_sellers")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_sellers")

2024-10-29 17:10:12,719 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,722 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:12,726 INFO sqlalchemy.engine.Engine [raw sql] ('olist_sellers',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_sellers',)

2024-10-29 17:10:12,731 INFO sqlalchemy.engine.Engine
DROP TABLE olist_sellers

INFO:sqlalchemy.engine.Engine:
DROP TABLE olist_sellers

2024-10-29 17:10:12,734 INFO sqlalchemy.engine.Engine [no key 0.00252s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00252s] ()

2024-10-29 17:10:12,754 INFO sqlalchemy.engine.Engine
CREATE TABLE olist_sellers (
	seller_id TEXT,
	seller_zip_code_prefix BIGINT,
	seller_city TEXT,
	seller_state TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE olist_sellers (
	seller_id TEXT,
	seller_zip_code_prefix BIGINT,
	seller_city TEXT,
	seller_state TEXT
)

2024-10-29 17:10:12,757 INFO sqlalchemy.engine.Engine [no key 0.00297s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00297s] ()

2024-10-29 17:10:12,818 INFO sqlalchemy.engine.Engine INSERT INTO olist_sellers (seller_id, seller_zip_code_prefix, seller_city, seller_state) VALUES (?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO olist_sellers (seller_id, seller_zip_code_prefix, seller_city, seller_state) VALUES (?, ?, ?, ?)

2024-10-29 17:10:12,824 INFO sqlalchemy.engine.Engine [generated in 0.04397s] [('3442f8959a84dea7ee197c632cb2df15', 13023, 'campinas', 'SP'), ('d1b65fc7debc3361ea86b5f14c68d2e2', 13844, 'mogi guacu', 'SP'), ('ce3ad9de960102d0677a81f5d0bb7b2d', 20031, 'rio de janeiro', 'RJ'), ('c0f3eea2e14555b6faeea3dd58c1b1c3', 4195, 'sao paulo', 'SP'), ('51a04a8a6bdcb23deccc82b0b80742cf', 12914, 'braganca paulista', 'SP'), ('c240c4061717ac1806ae6ee72be3533b', 20920, 'rio de janeiro', 'RJ'), ('e49c26c3edfa46d227d5121a6b6e4d37', 55325, 'brejao', 'PE'), ('1b938a7ec6ac5061a66a3766e0e75f90', 16304, 'penapolis', 'SP')  ... displaying 10 of 3095 total bound parameter sets ...  ('e603cf3fec55f8697c9059638d6c8eb5', 96080, 'pelotas', 'RS'), ('9e25199f6ef7e7c347120ff175652c3b', 12051, 'taubate', 'SP')]

INFO:sqlalchemy.engine.Engine:[generated in 0.04397s] [('3442f8959a84dea7ee197c632cb2df15', 13023, 'campinas', 'SP'), ('d1b65fc7debc3361ea86b5f14c68d2e2', 13844, 'mogi guacu', 'SP'), ('ce3ad9de960102d0677a81f5d0bb7b2d', 20031, 'rio de janeiro', 'RJ'), ('c0f3eea2e14555b6faeea3dd58c1b1c3', 4195, 'sao paulo', 'SP'), ('51a04a8a6bdcb23deccc82b0b80742cf', 12914, 'braganca paulista', 'SP'), ('c240c4061717ac1806ae6ee72be3533b', 20920, 'rio de janeiro', 'RJ'), ('e49c26c3edfa46d227d5121a6b6e4d37', 55325, 'brejao', 'PE'), ('1b938a7ec6ac5061a66a3766e0e75f90', 16304, 'penapolis', 'SP')  ... displaying 10 of 3095 total bound parameter sets ...  ('e603cf3fec55f8697c9059638d6c8eb5', 96080, 'pelotas', 'RS'), ('9e25199f6ef7e7c347120ff175652c3b', 12051, 'taubate', 'SP')]

2024-10-29 17:10:12,839 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:12,854 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:12,875 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_reviews")

2024-10-29 17:10:12,879 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,883 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_reviews")

2024-10-29 17:10:12,890 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,893 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:12,896 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,902 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:12,905 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,911 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("olist_order_reviews")

2024-10-29 17:10:12,915 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,917 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:12,920 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_reviews',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_reviews',)

2024-10-29 17:10:12,922 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("olist_order_reviews")

2024-10-29 17:10:12,924 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,926 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("olist_order_reviews")

2024-10-29 17:10:12,928 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,931 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:12,933 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_reviews',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_reviews',)

2024-10-29 17:10:12,935 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_order_reviews")

2024-10-29 17:10:12,938 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,940 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_order_reviews")

2024-10-29 17:10:12,942 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,945 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_reviews")

2024-10-29 17:10:12,947 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,949 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_order_reviews")

2024-10-29 17:10:12,952 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,954 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_order_reviews")

2024-10-29 17:10:12,956 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,959 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_reviews")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_reviews")

2024-10-29 17:10:12,961 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:12,963 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:12,966 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_reviews',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_reviews',)

2024-10-29 17:10:12,970 INFO sqlalchemy.engine.Engine
DROP TABLE olist_order_reviews

INFO:sqlalchemy.engine.Engine:
DROP TABLE olist_order_reviews

2024-10-29 17:10:12,972 INFO sqlalchemy.engine.Engine [no key 0.00245s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00245s] ()

2024-10-29 17:10:13,222 INFO sqlalchemy.engine.Engine
CREATE TABLE olist_order_reviews (
	review_id TEXT,
	order_id TEXT,
	review_score BIGINT,
	review_comment_title TEXT,
	review_comment_message TEXT,
	review_creation_date TEXT,
	review_answer_timestamp TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE olist_order_reviews (
	review_id TEXT,
	order_id TEXT,
	review_score BIGINT,
	review_comment_title TEXT,
	review_comment_message TEXT,
	review_creation_date TEXT,
	review_answer_timestamp TEXT
)

2024-10-29 17:10:13,228 INFO sqlalchemy.engine.Engine [no key 0.00544s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00544s] ()

2024-10-29 17:10:14,139 INFO sqlalchemy.engine.Engine INSERT INTO olist_order_reviews (review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp) VALUES (?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO olist_order_reviews (review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp) VALUES (?, ?, ?, ?, ?, ?, ?)

2024-10-29 17:10:14,143 INFO sqlalchemy.engine.Engine [generated in 0.76574s] [('7bc2406110b926393aa56f80a40eba40', '73fc7af87114b39712e6da79b0a377eb', 4, None, None, '2018-01-18 00:00:00', '2018-01-18 21:46:59'), ('80e641a11e56f04c1ad469d5645fdfde', 'a548910a1c6147796b98fdf73dbeba33', 5, None, None, '2018-03-10 00:00:00', '2018-03-11 03:05:13'), ('228ce5500dc1d8e020d8d1322874b6f0', 'f9e4b658b201a9f2ecdecbb34bed034b', 5, None, None, '2018-02-17 00:00:00', '2018-02-18 14:36:24'), ('e64fb393e7b32834bb789ff8bb30750e', '658677c97b385a9be170737859d3511b', 5, None, 'Recebi bem antes do prazo estipulado.', '2017-04-21 00:00:00', '2017-04-21 22:02:06'), ('f7c4243c7fe1938f181bec41a392bdeb', '8e6bfb81e283fa7e4f11123a3fb894f1', 5, None, 'Parabéns lojas lannister adorei comprar pela Internet seguro e prático Parabéns a todos feliz Páscoa', '2018-03-01 00:00:00', '2018-03-02 10:26:53'), ('15197aa66ff4d0650b5434f1b46cda19', 'b18dcdf73be66366873cd26c5724d1dc', 1, None, None, '2018-04-13 00:00:00', '2018-04-16 00:39:37'), ('07f9bee5d1b850860defd761afa7ff16', 'e48aa0d2dcec3a2e87348811bcfdf22b', 5, None, None, '2017-07-16 00:00:00', '2017-07-18 19:30:34'), ('7c6400515c67679fbee952a7525281ef', 'c31a859e34e3adac22f376954e19b39d', 5, None, None, '2018-08-14 00:00:00', '2018-08-14 21:36:06')  ... displaying 10 of 99224 total bound parameter sets ...  ('1adeb9d84d72fe4e337617733eb85149', '7725825d039fc1f0ceb7635e3f7d9206', 4, None, None, '2018-07-01 00:00:00', '2018-07-02 12:59:13'), ('efe49f1d6f951dd88b51e6ccd4cc548f', '90531360ecb1eec2a1fbb265a0db0508', 1, None, 'meu produto chegou e ja tenho que devolver, pois está com defeito , não segurar carga', '2017-07-03 00:00:00', '2017-07-03 21:01:49')]

INFO:sqlalchemy.engine.Engine:[generated in 0.76574s] [('7bc2406110b926393aa56f80a40eba40', '73fc7af87114b39712e6da79b0a377eb', 4, None, None, '2018-01-18 00:00:00', '2018-01-18 21:46:59'), ('80e641a11e56f04c1ad469d5645fdfde', 'a548910a1c6147796b98fdf73dbeba33', 5, None, None, '2018-03-10 00:00:00', '2018-03-11 03:05:13'), ('228ce5500dc1d8e020d8d1322874b6f0', 'f9e4b658b201a9f2ecdecbb34bed034b', 5, None, None, '2018-02-17 00:00:00', '2018-02-18 14:36:24'), ('e64fb393e7b32834bb789ff8bb30750e', '658677c97b385a9be170737859d3511b', 5, None, 'Recebi bem antes do prazo estipulado.', '2017-04-21 00:00:00', '2017-04-21 22:02:06'), ('f7c4243c7fe1938f181bec41a392bdeb', '8e6bfb81e283fa7e4f11123a3fb894f1', 5, None, 'Parabéns lojas lannister adorei comprar pela Internet seguro e prático Parabéns a todos feliz Páscoa', '2018-03-01 00:00:00', '2018-03-02 10:26:53'), ('15197aa66ff4d0650b5434f1b46cda19', 'b18dcdf73be66366873cd26c5724d1dc', 1, None, None, '2018-04-13 00:00:00', '2018-04-16 00:39:37'), ('07f9bee5d1b850860defd761afa7ff16', 'e48aa0d2dcec3a2e87348811bcfdf22b', 5, None, None, '2017-07-16 00:00:00', '2017-07-18 19:30:34'), ('7c6400515c67679fbee952a7525281ef', 'c31a859e34e3adac22f376954e19b39d', 5, None, None, '2018-08-14 00:00:00', '2018-08-14 21:36:06')  ... displaying 10 of 99224 total bound parameter sets ...  ('1adeb9d84d72fe4e337617733eb85149', '7725825d039fc1f0ceb7635e3f7d9206', 4, None, None, '2018-07-01 00:00:00', '2018-07-02 12:59:13'), ('efe49f1d6f951dd88b51e6ccd4cc548f', '90531360ecb1eec2a1fbb265a0db0508', 1, None, 'meu produto chegou e ja tenho que devolver, pois está com defeito , não segurar carga', '2017-07-03 00:00:00', '2017-07-03 21:01:49')]

2024-10-29 17:10:14,565 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:14,611 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:14,631 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_items")

2024-10-29 17:10:14,636 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,641 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_items")

2024-10-29 17:10:14,644 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,647 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:14,651 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,655 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:14,659 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,663 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("olist_order_items")

2024-10-29 17:10:14,666 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,670 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:14,673 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_items',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_items',)

2024-10-29 17:10:14,676 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("olist_order_items")

2024-10-29 17:10:14,679 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,682 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("olist_order_items")

2024-10-29 17:10:14,684 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,688 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:14,690 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_items',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_items',)

2024-10-29 17:10:14,693 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_order_items")

2024-10-29 17:10:14,696 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,698 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_order_items")

2024-10-29 17:10:14,700 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,702 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_items")

2024-10-29 17:10:14,705 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,708 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_order_items")

2024-10-29 17:10:14,716 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,720 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_order_items")

2024-10-29 17:10:14,725 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,727 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_items")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_items")

2024-10-29 17:10:14,730 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:14,735 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:14,737 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_items',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_items',)

2024-10-29 17:10:14,744 INFO sqlalchemy.engine.Engine
DROP TABLE olist_order_items

INFO:sqlalchemy.engine.Engine:
DROP TABLE olist_order_items

2024-10-29 17:10:14,750 INFO sqlalchemy.engine.Engine [no key 0.00598s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00598s] ()

2024-10-29 17:10:15,005 INFO sqlalchemy.engine.Engine
CREATE TABLE olist_order_items (
	order_id TEXT,
	order_item_id BIGINT,
	product_id TEXT,
	seller_id TEXT,
	shipping_limit_date TEXT,
	price FLOAT,
	freight_value FLOAT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE olist_order_items (
	order_id TEXT,
	order_item_id BIGINT,
	product_id TEXT,
	seller_id TEXT,
	shipping_limit_date TEXT,
	price FLOAT,
	freight_value FLOAT
)

2024-10-29 17:10:15,010 INFO sqlalchemy.engine.Engine [no key 0.00436s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00436s] ()

2024-10-29 17:10:16,139 INFO sqlalchemy.engine.Engine INSERT INTO olist_order_items (order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value) VALUES (?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO olist_order_items (order_id, order_item_id, product_id, seller_id, shipping_limit_date, price, freight_value) VALUES (?, ?, ?, ?, ?, ?, ?)

2024-10-29 17:10:16,143 INFO sqlalchemy.engine.Engine [generated in 0.94808s] [('00010242fe8c5a6d1ba2dd792cb16214', 1, '4244733e06e7ecb4970a6e2683c13e61', '48436dade18ac8b2bce089ec2a041202', '2017-09-19 09:45:35', 58.9, 13.29), ('00018f77f2f0320c557190d7a144bdd3', 1, 'e5f2d52b802189ee658865ca93d83a8f', 'dd7ddc04e1b6c2c614352b383efe2d36', '2017-05-03 11:05:13', 239.9, 19.93), ('000229ec398224ef6ca0657da4fc703e', 1, 'c777355d18b72b67abbeef9df44fd0fd', '5b51032eddd242adc84c38acab88f23d', '2018-01-18 14:48:30', 199.0, 17.87), ('00024acbcdf0a6daa1e931b038114c75', 1, '7634da152a4610f1595efa32f14722fc', '9d7a1d34a5052409006425275ba1c2b4', '2018-08-15 10:10:18', 12.99, 12.79), ('00042b26cf59d7ce69dfabb4e55b4fd9', 1, 'ac6c3623068f30de03045865e4e10089', 'df560393f3a51e74553ab94004ba5c87', '2017-02-13 13:57:51', 199.9, 18.14), ('00048cc3ae777c65dbb7d2a0634bc1ea', 1, 'ef92defde845ab8450f9d70c526ef70f', '6426d21aca402a131fc0a5d0960a3c90', '2017-05-23 03:55:27', 21.9, 12.69), ('00054e8431b9d7675808bcb819fb4a32', 1, '8d4f2bb7e93e6710a28f34fa83ee7d28', '7040e82f899a04d1b434b795a43b4617', '2017-12-14 12:10:31', 19.9, 11.85), ('000576fe39319847cbb9d288c5617fa6', 1, '557d850972a7d6f792fd18ae1400d9b6', '5996cddab893a4652a15592fb58ab8db', '2018-07-10 12:30:45', 810.0, 70.75)  ... displaying 10 of 112650 total bound parameter sets ...  ('fffe18544ffabc95dfada21779c9644f', 1, '9c422a519119dcad7575db5af1ba540e', '2b3e4a2a3ea8e01938cabda2a3e5cc79', '2017-08-21 00:04:32', 55.99, 8.72), ('fffe41c64501cc87c801fd61db3f6244', 1, '350688d9dc1e75ff97be326363655e01', 'f7ccf836d21b2fb1de37564105216cc1', '2018-06-12 17:10:13', 43.0, 12.79)]

INFO:sqlalchemy.engine.Engine:[generated in 0.94808s] [('00010242fe8c5a6d1ba2dd792cb16214', 1, '4244733e06e7ecb4970a6e2683c13e61', '48436dade18ac8b2bce089ec2a041202', '2017-09-19 09:45:35', 58.9, 13.29), ('00018f77f2f0320c557190d7a144bdd3', 1, 'e5f2d52b802189ee658865ca93d83a8f', 'dd7ddc04e1b6c2c614352b383efe2d36', '2017-05-03 11:05:13', 239.9, 19.93), ('000229ec398224ef6ca0657da4fc703e', 1, 'c777355d18b72b67abbeef9df44fd0fd', '5b51032eddd242adc84c38acab88f23d', '2018-01-18 14:48:30', 199.0, 17.87), ('00024acbcdf0a6daa1e931b038114c75', 1, '7634da152a4610f1595efa32f14722fc', '9d7a1d34a5052409006425275ba1c2b4', '2018-08-15 10:10:18', 12.99, 12.79), ('00042b26cf59d7ce69dfabb4e55b4fd9', 1, 'ac6c3623068f30de03045865e4e10089', 'df560393f3a51e74553ab94004ba5c87', '2017-02-13 13:57:51', 199.9, 18.14), ('00048cc3ae777c65dbb7d2a0634bc1ea', 1, 'ef92defde845ab8450f9d70c526ef70f', '6426d21aca402a131fc0a5d0960a3c90', '2017-05-23 03:55:27', 21.9, 12.69), ('00054e8431b9d7675808bcb819fb4a32', 1, '8d4f2bb7e93e6710a28f34fa83ee7d28', '7040e82f899a04d1b434b795a43b4617', '2017-12-14 12:10:31', 19.9, 11.85), ('000576fe39319847cbb9d288c5617fa6', 1, '557d850972a7d6f792fd18ae1400d9b6', '5996cddab893a4652a15592fb58ab8db', '2018-07-10 12:30:45', 810.0, 70.75)  ... displaying 10 of 112650 total bound parameter sets ...  ('fffe18544ffabc95dfada21779c9644f', 1, '9c422a519119dcad7575db5af1ba540e', '2b3e4a2a3ea8e01938cabda2a3e5cc79', '2017-08-21 00:04:32', 55.99, 8.72), ('fffe41c64501cc87c801fd61db3f6244', 1, '350688d9dc1e75ff97be326363655e01', 'f7ccf836d21b2fb1de37564105216cc1', '2018-06-12 17:10:13', 43.0, 12.79)]

2024-10-29 17:10:16,516 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:16,560 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:16,573 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_products")

2024-10-29 17:10:16,578 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,586 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_products")

2024-10-29 17:10:16,589 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,592 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:16,594 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,597 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:16,599 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,602 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("olist_products")

2024-10-29 17:10:16,604 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,607 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:16,609 INFO sqlalchemy.engine.Engine [raw sql] ('olist_products',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_products',)

2024-10-29 17:10:16,612 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("olist_products")

2024-10-29 17:10:16,614 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,617 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("olist_products")

2024-10-29 17:10:16,619 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,622 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:16,624 INFO sqlalchemy.engine.Engine [raw sql] ('olist_products',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_products',)

2024-10-29 17:10:16,626 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_products")

2024-10-29 17:10:16,628 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,631 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_products")

2024-10-29 17:10:16,633 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,636 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_products")

2024-10-29 17:10:16,637 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,640 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_products")

2024-10-29 17:10:16,642 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,644 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_products")

2024-10-29 17:10:16,647 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,649 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_products")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_products")

2024-10-29 17:10:16,651 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:16,654 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:16,656 INFO sqlalchemy.engine.Engine [raw sql] ('olist_products',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_products',)

2024-10-29 17:10:16,661 INFO sqlalchemy.engine.Engine
DROP TABLE olist_products

INFO:sqlalchemy.engine.Engine:
DROP TABLE olist_products

2024-10-29 17:10:16,663 INFO sqlalchemy.engine.Engine [no key 0.00214s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00214s] ()

2024-10-29 17:10:16,731 INFO sqlalchemy.engine.Engine
CREATE TABLE olist_products (
	product_id TEXT,
	product_category_name TEXT,
	product_name_lenght FLOAT,
	product_description_lenght FLOAT,
	product_photos_qty FLOAT,
	product_weight_g FLOAT,
	product_length_cm FLOAT,
	product_height_cm FLOAT,
	product_width_cm FLOAT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE olist_products (
	product_id TEXT,
	product_category_name TEXT,
	product_name_lenght FLOAT,
	product_description_lenght FLOAT,
	product_photos_qty FLOAT,
	product_weight_g FLOAT,
	product_length_cm FLOAT,
	product_height_cm FLOAT,
	product_width_cm FLOAT
)

2024-10-29 17:10:16,735 INFO sqlalchemy.engine.Engine [no key 0.00360s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00360s] ()

2024-10-29 17:10:17,121 INFO sqlalchemy.engine.Engine INSERT INTO olist_products (product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO olist_products (product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)

2024-10-29 17:10:17,126 INFO sqlalchemy.engine.Engine [generated in 0.24112s] [('1e9e8ef04dbcff4541ed26657ea517e5', 'perfumaria', 40.0, 287.0, 1.0, 225.0, 16.0, 10.0, 14.0), ('3aa071139cb16b67ca9e5dea641aaa2f', 'artes', 44.0, 276.0, 1.0, 1000.0, 30.0, 18.0, 20.0), ('96bd76ec8810374ed1b65e291975717f', 'esporte_lazer', 46.0, 250.0, 1.0, 154.0, 18.0, 9.0, 15.0), ('cef67bcfe19066a932b7673e239eb23d', 'bebes', 27.0, 261.0, 1.0, 371.0, 26.0, 4.0, 26.0), ('9dc1a7de274444849c219cff195d0b71', 'utilidades_domesticas', 37.0, 402.0, 4.0, 625.0, 20.0, 17.0, 13.0), ('41d3672d4792049fa1779bb35283ed13', 'instrumentos_musicais', 60.0, 745.0, 1.0, 200.0, 38.0, 5.0, 11.0), ('732bd381ad09e530fe0a5f457d81becb', 'cool_stuff', 56.0, 1272.0, 4.0, 18350.0, 70.0, 24.0, 44.0), ('2548af3e6e77a690cf3eb6368e9ab61e', 'moveis_decoracao', 56.0, 184.0, 2.0, 900.0, 40.0, 8.0, 40.0)  ... displaying 10 of 32951 total bound parameter sets ...  ('83808703fc0706a22e264b9d75f04a2e', 'informatica_acessorios', 60.0, 156.0, 2.0, 700.0, 31.0, 13.0, 20.0), ('106392145fca363410d287a815be6de4', 'cama_mesa_banho', 58.0, 309.0, 1.0, 2083.0, 12.0, 2.0, 7.0)]

INFO:sqlalchemy.engine.Engine:[generated in 0.24112s] [('1e9e8ef04dbcff4541ed26657ea517e5', 'perfumaria', 40.0, 287.0, 1.0, 225.0, 16.0, 10.0, 14.0), ('3aa071139cb16b67ca9e5dea641aaa2f', 'artes', 44.0, 276.0, 1.0, 1000.0, 30.0, 18.0, 20.0), ('96bd76ec8810374ed1b65e291975717f', 'esporte_lazer', 46.0, 250.0, 1.0, 154.0, 18.0, 9.0, 15.0), ('cef67bcfe19066a932b7673e239eb23d', 'bebes', 27.0, 261.0, 1.0, 371.0, 26.0, 4.0, 26.0), ('9dc1a7de274444849c219cff195d0b71', 'utilidades_domesticas', 37.0, 402.0, 4.0, 625.0, 20.0, 17.0, 13.0), ('41d3672d4792049fa1779bb35283ed13', 'instrumentos_musicais', 60.0, 745.0, 1.0, 200.0, 38.0, 5.0, 11.0), ('732bd381ad09e530fe0a5f457d81becb', 'cool_stuff', 56.0, 1272.0, 4.0, 18350.0, 70.0, 24.0, 44.0), ('2548af3e6e77a690cf3eb6368e9ab61e', 'moveis_decoracao', 56.0, 184.0, 2.0, 900.0, 40.0, 8.0, 40.0)  ... displaying 10 of 32951 total bound parameter sets ...  ('83808703fc0706a22e264b9d75f04a2e', 'informatica_acessorios', 60.0, 156.0, 2.0, 700.0, 31.0, 13.0, 20.0), ('106392145fca363410d287a815be6de4', 'cama_mesa_banho', 58.0, 309.0, 1.0, 2083.0, 12.0, 2.0, 7.0)]

2024-10-29 17:10:17,228 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:17,250 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:17,288 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_geolocation")

2024-10-29 17:10:17,292 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,296 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_geolocation")

2024-10-29 17:10:17,300 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,304 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:17,307 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,309 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:17,315 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,318 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("olist_geolocation")

2024-10-29 17:10:17,320 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,322 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:17,328 INFO sqlalchemy.engine.Engine [raw sql] ('olist_geolocation',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_geolocation',)

2024-10-29 17:10:17,330 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("olist_geolocation")

2024-10-29 17:10:17,332 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,334 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("olist_geolocation")

2024-10-29 17:10:17,336 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,341 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:17,343 INFO sqlalchemy.engine.Engine [raw sql] ('olist_geolocation',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_geolocation',)

2024-10-29 17:10:17,346 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_geolocation")

2024-10-29 17:10:17,350 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,353 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_geolocation")

2024-10-29 17:10:17,355 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,357 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_geolocation")

2024-10-29 17:10:17,361 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,364 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_geolocation")

2024-10-29 17:10:17,366 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,369 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_geolocation")

2024-10-29 17:10:17,373 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,375 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_geolocation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_geolocation")

2024-10-29 17:10:17,378 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:17,380 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:17,382 INFO sqlalchemy.engine.Engine [raw sql] ('olist_geolocation',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_geolocation',)

2024-10-29 17:10:17,388 INFO sqlalchemy.engine.Engine
DROP TABLE olist_geolocation

INFO:sqlalchemy.engine.Engine:
DROP TABLE olist_geolocation

2024-10-29 17:10:17,390 INFO sqlalchemy.engine.Engine [no key 0.00229s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00229s] ()

2024-10-29 17:10:18,070 INFO sqlalchemy.engine.Engine
CREATE TABLE olist_geolocation (
	geolocation_zip_code_prefix BIGINT,
	geolocation_lat FLOAT,
	geolocation_lng FLOAT,
	geolocation_city TEXT,
	geolocation_state TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE olist_geolocation (
	geolocation_zip_code_prefix BIGINT,
	geolocation_lat FLOAT,
	geolocation_lng FLOAT,
	geolocation_city TEXT,
	geolocation_state TEXT
)

2024-10-29 17:10:18,075 INFO sqlalchemy.engine.Engine [no key 0.00548s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00548s] ()

2024-10-29 17:10:26,010 INFO sqlalchemy.engine.Engine INSERT INTO olist_geolocation (geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state) VALUES (?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO olist_geolocation (geolocation_zip_code_prefix, geolocation_lat, geolocation_lng, geolocation_city, geolocation_state) VALUES (?, ?, ?, ?, ?)

2024-10-29 17:10:26,020 INFO sqlalchemy.engine.Engine [generated in 6.02111s] [(1037, -23.54562128115268, -46.63929204800168, 'sao paulo', 'SP'), (1046, -23.54608112703553, -46.64482029837157, 'sao paulo', 'SP'), (1046, -23.54612896641469, -46.64295148361138, 'sao paulo', 'SP'), (1041, -23.5443921648681, -46.63949930627844, 'sao paulo', 'SP'), (1035, -23.541577961711493, -46.64160722329613, 'sao paulo', 'SP'), (1012, -23.547762303364262, -46.63536053788448, 'são paulo', 'SP'), (1047, -23.54627311241268, -46.64122516971552, 'sao paulo', 'SP'), (1013, -23.546923208436723, -46.6342636964915, 'sao paulo', 'SP')  ... displaying 10 of 1000163 total bound parameter sets ...  (99980, -28.38893187660049, -51.84687132274168, 'david canabarro', 'RS'), (99950, -28.07010363149126, -52.01865772856674, 'tapejara', 'RS')]

INFO:sqlalchemy.engine.Engine:[generated in 6.02111s] [(1037, -23.54562128115268, -46.63929204800168, 'sao paulo', 'SP'), (1046, -23.54608112703553, -46.64482029837157, 'sao paulo', 'SP'), (1046, -23.54612896641469, -46.64295148361138, 'sao paulo', 'SP'), (1041, -23.5443921648681, -46.63949930627844, 'sao paulo', 'SP'), (1035, -23.541577961711493, -46.64160722329613, 'sao paulo', 'SP'), (1012, -23.547762303364262, -46.63536053788448, 'são paulo', 'SP'), (1047, -23.54627311241268, -46.64122516971552, 'sao paulo', 'SP'), (1013, -23.546923208436723, -46.6342636964915, 'sao paulo', 'SP')  ... displaying 10 of 1000163 total bound parameter sets ...  (99980, -28.38893187660049, -51.84687132274168, 'david canabarro', 'RS'), (99950, -28.07010363149126, -52.01865772856674, 'tapejara', 'RS')]

2024-10-29 17:10:27,969 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:28,106 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:28,114 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("product_category_name_translation")

2024-10-29 17:10:28,119 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,124 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("product_category_name_translation")

2024-10-29 17:10:28,128 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,131 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:28,134 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,141 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:28,144 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,147 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("product_category_name_translation")

2024-10-29 17:10:28,150 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,153 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:28,157 INFO sqlalchemy.engine.Engine [raw sql] ('product_category_name_translation',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('product_category_name_translation',)

2024-10-29 17:10:28,161 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("product_category_name_translation")

2024-10-29 17:10:28,166 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,169 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("product_category_name_translation")

2024-10-29 17:10:28,171 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,174 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:28,176 INFO sqlalchemy.engine.Engine [raw sql] ('product_category_name_translation',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('product_category_name_translation',)

2024-10-29 17:10:28,179 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("product_category_name_translation")

2024-10-29 17:10:28,181 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,184 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("product_category_name_translation")

2024-10-29 17:10:28,187 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,189 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("product_category_name_translation")

2024-10-29 17:10:28,191 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,195 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("product_category_name_translation")

2024-10-29 17:10:28,197 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,199 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("product_category_name_translation")

2024-10-29 17:10:28,202 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,204 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("product_category_name_translation")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("product_category_name_translation")

2024-10-29 17:10:28,207 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,210 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:28,212 INFO sqlalchemy.engine.Engine [raw sql] ('product_category_name_translation',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('product_category_name_translation',)

2024-10-29 17:10:28,216 INFO sqlalchemy.engine.Engine
DROP TABLE product_category_name_translation

INFO:sqlalchemy.engine.Engine:
DROP TABLE product_category_name_translation

2024-10-29 17:10:28,218 INFO sqlalchemy.engine.Engine [no key 0.00258s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00258s] ()

2024-10-29 17:10:28,231 INFO sqlalchemy.engine.Engine
CREATE TABLE product_category_name_translation (
	product_category_name TEXT,
	product_category_name_english TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE product_category_name_translation (
	product_category_name TEXT,
	product_category_name_english TEXT
)

2024-10-29 17:10:28,234 INFO sqlalchemy.engine.Engine [no key 0.00274s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00274s] ()

2024-10-29 17:10:28,253 INFO sqlalchemy.engine.Engine INSERT INTO product_category_name_translation (product_category_name, product_category_name_english) VALUES (?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO product_category_name_translation (product_category_name, product_category_name_english) VALUES (?, ?)

2024-10-29 17:10:28,255 INFO sqlalchemy.engine.Engine [generated in 0.00300s] [('beleza_saude', 'health_beauty'), ('informatica_acessorios', 'computers_accessories'), ('automotivo', 'auto'), ('cama_mesa_banho', 'bed_bath_table'), ('moveis_decoracao', 'furniture_decor'), ('esporte_lazer', 'sports_leisure'), ('perfumaria', 'perfumery'), ('utilidades_domesticas', 'housewares')  ... displaying 10 of 71 total bound parameter sets ...  ('fashion_roupa_infanto_juvenil', 'fashion_childrens_clothes'), ('seguros_e_servicos', 'security_and_services')]

INFO:sqlalchemy.engine.Engine:[generated in 0.00300s] [('beleza_saude', 'health_beauty'), ('informatica_acessorios', 'computers_accessories'), ('automotivo', 'auto'), ('cama_mesa_banho', 'bed_bath_table'), ('moveis_decoracao', 'furniture_decor'), ('esporte_lazer', 'sports_leisure'), ('perfumaria', 'perfumery'), ('utilidades_domesticas', 'housewares')  ... displaying 10 of 71 total bound parameter sets ...  ('fashion_roupa_infanto_juvenil', 'fashion_childrens_clothes'), ('seguros_e_servicos', 'security_and_services')]

2024-10-29 17:10:28,258 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:28,270 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:28,320 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_orders")

2024-10-29 17:10:28,336 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,342 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_orders")

2024-10-29 17:10:28,344 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,349 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:28,351 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,354 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:28,357 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,360 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("olist_orders")

2024-10-29 17:10:28,362 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,365 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:28,368 INFO sqlalchemy.engine.Engine [raw sql] ('olist_orders',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_orders',)

2024-10-29 17:10:28,371 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("olist_orders")

2024-10-29 17:10:28,376 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,379 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("olist_orders")

2024-10-29 17:10:28,382 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,384 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:28,386 INFO sqlalchemy.engine.Engine [raw sql] ('olist_orders',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_orders',)

2024-10-29 17:10:28,389 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_orders")

2024-10-29 17:10:28,391 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,394 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_orders")

2024-10-29 17:10:28,396 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,399 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_orders")

2024-10-29 17:10:28,401 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,403 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_orders")

2024-10-29 17:10:28,405 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,408 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_orders")

2024-10-29 17:10:28,410 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,413 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_orders")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_orders")

2024-10-29 17:10:28,415 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:28,418 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:28,420 INFO sqlalchemy.engine.Engine [raw sql] ('olist_orders',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_orders',)

2024-10-29 17:10:28,425 INFO sqlalchemy.engine.Engine
DROP TABLE olist_orders

INFO:sqlalchemy.engine.Engine:
DROP TABLE olist_orders

2024-10-29 17:10:28,427 INFO sqlalchemy.engine.Engine [no key 0.00247s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00247s] ()

2024-10-29 17:10:28,767 INFO sqlalchemy.engine.Engine
CREATE TABLE olist_orders (
	order_id TEXT,
	customer_id TEXT,
	order_status TEXT,
	order_purchase_timestamp TEXT,
	order_approved_at TEXT,
	order_delivered_carrier_date TEXT,
	order_delivered_customer_date TEXT,
	order_estimated_delivery_date TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE olist_orders (
	order_id TEXT,
	customer_id TEXT,
	order_status TEXT,
	order_purchase_timestamp TEXT,
	order_approved_at TEXT,
	order_delivered_carrier_date TEXT,
	order_delivered_customer_date TEXT,
	order_estimated_delivery_date TEXT
)

2024-10-29 17:10:28,770 INFO sqlalchemy.engine.Engine [no key 0.00324s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00324s] ()

2024-10-29 17:10:29,970 INFO sqlalchemy.engine.Engine INSERT INTO olist_orders (order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date) VALUES (?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO olist_orders (order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date) VALUES (?, ?, ?, ?, ?, ?, ?, ?)

2024-10-29 17:10:29,975 INFO sqlalchemy.engine.Engine [generated in 0.78604s] [('e481f51cbdc54678b7cc49136f2d6af7', '9ef432eb6251297304e76186b10a928d', 'delivered', '2017-10-02 10:56:33', '2017-10-02 11:07:15', '2017-10-04 19:55:00', '2017-10-10 21:25:13', '2017-10-18 00:00:00'), ('53cdb2fc8bc7dce0b6741e2150273451', 'b0830fb4747a6c6d20dea0b8c802d7ef', 'delivered', '2018-07-24 20:41:37', '2018-07-26 03:24:27', '2018-07-26 14:31:00', '2018-08-07 15:27:45', '2018-08-13 00:00:00'), ('47770eb9100c2d0c44946d9cf07ec65d', '41ce2a54c0b03bf3443c3d931a367089', 'delivered', '2018-08-08 08:38:49', '2018-08-08 08:55:23', '2018-08-08 13:50:00', '2018-08-17 18:06:29', '2018-09-04 00:00:00'), ('949d5b44dbf5de918fe9c16f97b45f8a', 'f88197465ea7920adcdbec7375364d82', 'delivered', '2017-11-18 19:28:06', '2017-11-18 19:45:59', '2017-11-22 13:39:59', '2017-12-02 00:28:42', '2017-12-15 00:00:00'), ('ad21c59c0840e6cb83a9ceb5573f8159', '8ab97904e6daea8866dbdbc4fb7aad2c', 'delivered', '2018-02-13 21:18:39', '2018-02-13 22:20:29', '2018-02-14 19:46:34', '2018-02-16 18:17:02', '2018-02-26 00:00:00'), ('a4591c265e18cb1dcee52889e2d8acc3', '503740e9ca751ccdda7ba28e9ab8f608', 'delivered', '2017-07-09 21:57:05', '2017-07-09 22:10:13', '2017-07-11 14:58:04', '2017-07-26 10:57:55', '2017-08-01 00:00:00'), ('136cce7faa42fdb2cefd53fdc79a6098', 'ed0271e0b7da060a393796590e7b737a', 'invoiced', '2017-04-11 12:22:08', '2017-04-13 13:25:17', None, None, '2017-05-09 00:00:00'), ('6514b8ad8028c9f2cc2374ded245783f', '9bdf08b4b3b52b5526ff42d37d47f222', 'delivered', '2017-05-16 13:10:30', '2017-05-16 13:22:11', '2017-05-22 10:07:46', '2017-05-26 12:55:51', '2017-06-07 00:00:00')  ... displaying 10 of 99441 total bound parameter sets ...  ('11c177c8e97725db2631073c19f07b62', 'b331b74b18dc79bcdf6532d51e1637c1', 'delivered', '2018-01-08 21:28:27', '2018-01-08 21:36:21', '2018-01-12 15:35:03', '2018-01-25 23:32:54', '2018-02-15 00:00:00'), ('66dea50a8b16d9b4dee7af250b4be1a5', 'edb027a75a1449115f6b43211ae02a24', 'delivered', '2018-03-08 20:57:30', '2018-03-09 11:20:28', '2018-03-09 22:11:59', '2018-03-16 13:08:30', '2018-04-03 00:00:00')]

INFO:sqlalchemy.engine.Engine:[generated in 0.78604s] [('e481f51cbdc54678b7cc49136f2d6af7', '9ef432eb6251297304e76186b10a928d', 'delivered', '2017-10-02 10:56:33', '2017-10-02 11:07:15', '2017-10-04 19:55:00', '2017-10-10 21:25:13', '2017-10-18 00:00:00'), ('53cdb2fc8bc7dce0b6741e2150273451', 'b0830fb4747a6c6d20dea0b8c802d7ef', 'delivered', '2018-07-24 20:41:37', '2018-07-26 03:24:27', '2018-07-26 14:31:00', '2018-08-07 15:27:45', '2018-08-13 00:00:00'), ('47770eb9100c2d0c44946d9cf07ec65d', '41ce2a54c0b03bf3443c3d931a367089', 'delivered', '2018-08-08 08:38:49', '2018-08-08 08:55:23', '2018-08-08 13:50:00', '2018-08-17 18:06:29', '2018-09-04 00:00:00'), ('949d5b44dbf5de918fe9c16f97b45f8a', 'f88197465ea7920adcdbec7375364d82', 'delivered', '2017-11-18 19:28:06', '2017-11-18 19:45:59', '2017-11-22 13:39:59', '2017-12-02 00:28:42', '2017-12-15 00:00:00'), ('ad21c59c0840e6cb83a9ceb5573f8159', '8ab97904e6daea8866dbdbc4fb7aad2c', 'delivered', '2018-02-13 21:18:39', '2018-02-13 22:20:29', '2018-02-14 19:46:34', '2018-02-16 18:17:02', '2018-02-26 00:00:00'), ('a4591c265e18cb1dcee52889e2d8acc3', '503740e9ca751ccdda7ba28e9ab8f608', 'delivered', '2017-07-09 21:57:05', '2017-07-09 22:10:13', '2017-07-11 14:58:04', '2017-07-26 10:57:55', '2017-08-01 00:00:00'), ('136cce7faa42fdb2cefd53fdc79a6098', 'ed0271e0b7da060a393796590e7b737a', 'invoiced', '2017-04-11 12:22:08', '2017-04-13 13:25:17', None, None, '2017-05-09 00:00:00'), ('6514b8ad8028c9f2cc2374ded245783f', '9bdf08b4b3b52b5526ff42d37d47f222', 'delivered', '2017-05-16 13:10:30', '2017-05-16 13:22:11', '2017-05-22 10:07:46', '2017-05-26 12:55:51', '2017-06-07 00:00:00')  ... displaying 10 of 99441 total bound parameter sets ...  ('11c177c8e97725db2631073c19f07b62', 'b331b74b18dc79bcdf6532d51e1637c1', 'delivered', '2018-01-08 21:28:27', '2018-01-08 21:36:21', '2018-01-12 15:35:03', '2018-01-25 23:32:54', '2018-02-15 00:00:00'), ('66dea50a8b16d9b4dee7af250b4be1a5', 'edb027a75a1449115f6b43211ae02a24', 'delivered', '2018-03-08 20:57:30', '2018-03-09 11:20:28', '2018-03-09 22:11:59', '2018-03-16 13:08:30', '2018-04-03 00:00:00')]

2024-10-29 17:10:30,344 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:30,386 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:30,399 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_payments")

2024-10-29 17:10:30,403 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,407 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_payments")

2024-10-29 17:10:30,410 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,412 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:30,414 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,417 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:30,419 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,421 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_xinfo("olist_order_payments")

2024-10-29 17:10:30,423 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,425 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:30,427 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_payments',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_payments',)

2024-10-29 17:10:30,430 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA main.foreign_key_list("olist_order_payments")

2024-10-29 17:10:30,432 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,434 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.foreign_key_list("olist_order_payments")

2024-10-29 17:10:30,436 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,438 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:30,440 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_payments',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_payments',)

2024-10-29 17:10:30,444 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_order_payments")

2024-10-29 17:10:30,446 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,451 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_order_payments")

2024-10-29 17:10:30,453 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,455 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_payments")

2024-10-29 17:10:30,457 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,459 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA main.index_list("olist_order_payments")

2024-10-29 17:10:30,462 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,464 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.index_list("olist_order_payments")

2024-10-29 17:10:30,466 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,468 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("olist_order_payments")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("olist_order_payments")

2024-10-29 17:10:30,470 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:30,472 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

INFO:sqlalchemy.engine.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')

2024-10-29 17:10:30,474 INFO sqlalchemy.engine.Engine [raw sql] ('olist_order_payments',)

INFO:sqlalchemy.engine.Engine:[raw sql] ('olist_order_payments',)

2024-10-29 17:10:30,482 INFO sqlalchemy.engine.Engine
DROP TABLE olist_order_payments

INFO:sqlalchemy.engine.Engine:
DROP TABLE olist_order_payments

2024-10-29 17:10:30,487 INFO sqlalchemy.engine.Engine [no key 0.00510s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00510s] ()

2024-10-29 17:10:30,633 INFO sqlalchemy.engine.Engine
CREATE TABLE olist_order_payments (
	order_id TEXT,
	payment_sequential BIGINT,
	payment_type TEXT,
	payment_installments BIGINT,
	payment_value FLOAT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE olist_order_payments (
	order_id TEXT,
	payment_sequential BIGINT,
	payment_type TEXT,
	payment_installments BIGINT,
	payment_value FLOAT
)

2024-10-29 17:10:30,637 INFO sqlalchemy.engine.Engine [no key 0.00372s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00372s] ()

2024-10-29 17:10:31,568 INFO sqlalchemy.engine.Engine INSERT INTO olist_order_payments (order_id, payment_sequential, payment_type, payment_installments, payment_value) VALUES (?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO olist_order_payments (order_id, payment_sequential, payment_type, payment_installments, payment_value) VALUES (?, ?, ?, ?, ?)

2024-10-29 17:10:31,573 INFO sqlalchemy.engine.Engine [generated in 0.69869s] [('b81ef226f3fe1789b1e8b2acac839d17', 1, 'credit_card', 8, 99.33), ('a9810da82917af2d9aefd1278f1dcfa0', 1, 'credit_card', 1, 24.39), ('25e8ea4e93396b6fa0d3dd708e76c1bd', 1, 'credit_card', 1, 65.71), ('ba78997921bbcdc1373bb41e913ab953', 1, 'credit_card', 8, 107.78), ('42fdf880ba16b47b59251dd489d4441a', 1, 'credit_card', 2, 128.45), ('298fcdf1f73eb413e4d26d01b25bc1cd', 1, 'credit_card', 2, 96.12), ('771ee386b001f06208a7419e4fc1bbd7', 1, 'credit_card', 1, 81.16), ('3d7239c394a212faae122962df514ac7', 1, 'credit_card', 3, 51.84)  ... displaying 10 of 103886 total bound parameter sets ...  ('b8b61059626efa996a60be9bb9320e10', 1, 'credit_card', 5, 369.54), ('28bbae6599b09d39ca406b747b6632b1', 1, 'boleto', 1, 191.58)]

INFO:sqlalchemy.engine.Engine:[generated in 0.69869s] [('b81ef226f3fe1789b1e8b2acac839d17', 1, 'credit_card', 8, 99.33), ('a9810da82917af2d9aefd1278f1dcfa0', 1, 'credit_card', 1, 24.39), ('25e8ea4e93396b6fa0d3dd708e76c1bd', 1, 'credit_card', 1, 65.71), ('ba78997921bbcdc1373bb41e913ab953', 1, 'credit_card', 8, 107.78), ('42fdf880ba16b47b59251dd489d4441a', 1, 'credit_card', 2, 128.45), ('298fcdf1f73eb413e4d26d01b25bc1cd', 1, 'credit_card', 2, 96.12), ('771ee386b001f06208a7419e4fc1bbd7', 1, 'credit_card', 1, 81.16), ('3d7239c394a212faae122962df514ac7', 1, 'credit_card', 3, 51.84)  ... displaying 10 of 103886 total bound parameter sets ...  ('b8b61059626efa996a60be9bb9320e10', 1, 'credit_card', 5, 369.54), ('28bbae6599b09d39ca406b747b6632b1', 1, 'boleto', 1, 191.58)]

2024-10-29 17:10:31,794 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

2024-10-29 17:10:31,824 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:31,828 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-10-29 17:10:31,831 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:31,834 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

Tables in the database: ['olist_customers', 'olist_geolocation', 'olist_order_items', 'olist_order_payments', 'olist_order_reviews', 'olist_orders', 'olist_products', 'olist_sellers', 'product_category_name_translation']

Write and execute a SQL query to count the number of orders purchased in January 2018 that have a review score of 5 and calculate the percentage of such orders.

In [13]:
# The SQL query to count the number of five-star orders in January 2018 and calculate their percentage
query = """
WITH jan_2018_orders AS (
    SELECT o.order_id, r.review_score
    FROM olist_orders o
    JOIN olist_order_reviews r
    ON o.order_id = r.order_id
    WHERE strftime('%Y-%m', o.order_purchase_timestamp) = '2018-01'
)

-- Count orders with review score 5 and calculate the percentage
SELECT
    COUNT(CASE WHEN review_score = 5 THEN 1 END) AS count_five_star_orders,
    (COUNT(CASE WHEN review_score = 5 THEN 1 END) * 100.0 / COUNT(*)) AS percentage_five_star_orders
FROM jan_2018_orders;
"""

# Run the query using pandas
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:10:31,847 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:31,850 INFO sqlalchemy.engine.Engine
WITH jan_2018_orders AS (
    SELECT o.order_id, r.review_score
    FROM olist_orders o
    JOIN olist_order_reviews r
    ON o.order_id = r.order_id
    WHERE strftime('%Y-%m', o.order_purchase_timestamp) = '2018-01'
)

-- Count orders with review score 5 and calculate the percentage
SELECT
    COUNT(CASE WHEN review_score = 5 THEN 1 END) AS count_five_star_orders,
    (COUNT(CASE WHEN review_score = 5 THEN 1 END) * 100.0 / COUNT(*)) AS percentage_five_star_orders
FROM jan_2018_orders;

INFO:sqlalchemy.engine.Engine:
WITH jan_2018_orders AS (
    SELECT o.order_id, r.review_score
    FROM olist_orders o
    JOIN olist_order_reviews r
    ON o.order_id = r.order_id
    WHERE strftime('%Y-%m', o.order_purchase_timestamp) = '2018-01'
)

-- Count orders with review score 5 and calculate the percentage
SELECT
    COUNT(CASE WHEN review_score = 5 THEN 1 END) AS count_five_star_orders,
    (COUNT(CASE WHEN review_score = 5 THEN 1 END) * 100.0 / COUNT(*)) AS percentage_five_star_orders
FROM jan_2018_orders;

2024-10-29 17:10:31,884 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:32,238 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   count_five_star_orders  percentage_five_star_orders
0                    4097                    56.549344

Write and execute a SQL query to analyze the customer purchase trend year-on-year.

In [14]:
# SQL query to analyze customer purchase trend year-on-year
query = """
SELECT
    strftime('%Y', order_purchase_timestamp) AS order_year, -- Extract year
    COUNT(order_id) AS total_orders -- Count orders per year
FROM
    olist_orders
GROUP BY
    order_year
ORDER BY
    order_year;
"""

# Execute the query
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:10:32,257 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:32,262 INFO sqlalchemy.engine.Engine
SELECT
    strftime('%Y', order_purchase_timestamp) AS order_year, -- Extract year
    COUNT(order_id) AS total_orders -- Count orders per year
FROM
    olist_orders
GROUP BY
    order_year
ORDER BY
    order_year;

INFO:sqlalchemy.engine.Engine:
SELECT
    strftime('%Y', order_purchase_timestamp) AS order_year, -- Extract year
    COUNT(order_id) AS total_orders -- Count orders per year
FROM
    olist_orders
GROUP BY
    order_year
ORDER BY
    order_year;

2024-10-29 17:10:32,267 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:32,385 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

  order_year  total_orders
0       2016           329
1       2017         45101
2       2018         54011

Write and execute a SQL query to calculate the average order values of customers.

In [15]:
# SQL query to calculate the average order value of customers
query = """
SELECT
    o.customer_id, -- Identify the customer
    AVG(oi.price + oi.freight_value) AS avg_order_value -- Calculate average order value
FROM
    olist_orders o
JOIN
    olist_order_items oi
ON
    o.order_id = oi.order_id
GROUP BY
    o.customer_id -- Group by customer to get individual averages
ORDER BY
    avg_order_value DESC; -- Optional: Sort to see customers with highest average order value
"""

# Execute the query
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:10:32,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:10:32,407 INFO sqlalchemy.engine.Engine
SELECT
    o.customer_id, -- Identify the customer
    AVG(oi.price + oi.freight_value) AS avg_order_value -- Calculate average order value
FROM
    olist_orders o
JOIN
    olist_order_items oi
ON
    o.order_id = oi.order_id
GROUP BY
    o.customer_id -- Group by customer to get individual averages
ORDER BY
    avg_order_value DESC; -- Optional: Sort to see customers with highest average order value

INFO:sqlalchemy.engine.Engine:
SELECT
    o.customer_id, -- Identify the customer
    AVG(oi.price + oi.freight_value) AS avg_order_value -- Calculate average order value
FROM
    olist_orders o
JOIN
    olist_order_items oi
ON
    o.order_id = oi.order_id
GROUP BY
    o.customer_id -- Group by customer to get individual averages
ORDER BY
    avg_order_value DESC; -- Optional: Sort to see customers with highest average order value

2024-10-29 17:10:32,411 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:10:33,630 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

                            customer_id  avg_order_value
0      c6e2731c5b391845f6800c97401a43a9      6929.310000
1      f48d464a0baaea338cb25f816991ab1f      6922.210000
2      3fd6777bbce08a352fddd04e4a7cc8f6      6726.660000
3      df55c14d1476a9a3467f131269c2477f      4950.340000
4      24bbf5fd2f2e1b359ee7de94defc4a15      4764.340000
...                                 ...              ...
98661  046f890135acc703faff4c1fc0c2d73c        11.560000
98662  8e4bd65db637116b6b68109e4df21b84        10.890000
98663  184e8e8e48937145eb96c721ef1f0747        10.070000
98664  a790343ca6f3fee08112d678b43aa7c5         9.590000
98665  fc3d1daec319d62d49bfb5e1f83123e9         9.341429

[98666 rows x 2 columns]

Write and execute a SQL query to find the top 5 cities with the highest revenue from 2016 to 2018.

In [16]:
# SQL query to find the top 5 cities with the highest revenue from 2016 to 2018
query = """
WITH revenue_data AS (
    -- Calculate total revenue for each order and join with customer and order information
    SELECT
        c.customer_city AS city,
        SUM(oi.price + oi.freight_value) AS total_revenue
    FROM
        olist_orders o
    JOIN
        olist_order_items oi
    ON
        o.order_id = oi.order_id
    JOIN
        olist_customers c
    ON
        o.customer_id = c.customer_id
    WHERE
        strftime('%Y', o.order_purchase_timestamp) BETWEEN '2016' AND '2018'
    GROUP BY
        c.customer_city
)
-- Select the top 5 cities by revenue
SELECT
    city,
    total_revenue
FROM
    revenue_data
ORDER BY
    total_revenue DESC
LIMIT 5;
"""

# Execute the query
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:11:57,007 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:11:57,013 INFO sqlalchemy.engine.Engine
WITH revenue_data AS (
    -- Calculate total revenue for each order and join with customer and order information
    SELECT
        c.customer_city AS city,
        SUM(oi.price + oi.freight_value) AS total_revenue
    FROM
        olist_orders o
    JOIN
        olist_order_items oi
    ON
        o.order_id = oi.order_id
    JOIN
        olist_customers c
    ON
        o.customer_id = c.customer_id
    WHERE
        strftime('%Y', o.order_purchase_timestamp) BETWEEN '2016' AND '2018'
    GROUP BY
        c.customer_city
)
-- Select the top 5 cities by revenue
SELECT
    city,
    total_revenue
FROM
    revenue_data
ORDER BY
    total_revenue DESC
LIMIT 5;

INFO:sqlalchemy.engine.Engine:
WITH revenue_data AS (
    -- Calculate total revenue for each order and join with customer and order information
    SELECT
        c.customer_city AS city,
        SUM(oi.price + oi.freight_value) AS total_revenue
    FROM
        olist_orders o
    JOIN
        olist_order_items oi
    ON
        o.order_id = oi.order_id
    JOIN
        olist_customers c
    ON
        o.customer_id = c.customer_id
    WHERE
        strftime('%Y', o.order_purchase_timestamp) BETWEEN '2016' AND '2018'
    GROUP BY
        c.customer_city
)
-- Select the top 5 cities by revenue
SELECT
    city,
    total_revenue
FROM
    revenue_data
ORDER BY
    total_revenue DESC
LIMIT 5;

2024-10-29 17:11:57,019 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:11:58,095 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

             city  total_revenue
0       sao paulo     2170227.12
1  rio de janeiro     1154234.02
2  belo horizonte      416733.39
3        brasilia      352305.14
4        curitiba      244739.87

Write and execute a SQL query to create a state-wise revenue table between 2016 to 2018.

In [17]:
# SQL query to create a state-wise revenue table between 2016 and 2018
query = """
WITH state_wise_revenue AS (
    -- Calculate total revenue for each order and join with customer and order information
    SELECT
        c.customer_state AS state, -- Get the state
        SUM(oi.price + oi.freight_value) AS total_revenue -- Calculate total revenue for each order
    FROM
        olist_orders o
    JOIN
        olist_order_items oi
    ON
        o.order_id = oi.order_id
    JOIN
        olist_customers c
    ON
        o.customer_id = c.customer_id
    WHERE
        strftime('%Y', o.order_purchase_timestamp) BETWEEN '2016' AND '2018' -- Filter for 2016-2018
    GROUP BY
        c.customer_state -- Group by state to get state-wise revenue
)
-- Select the state and the total revenue
SELECT
    state,
    total_revenue
FROM
    state_wise_revenue
ORDER BY
    total_revenue DESC; -- Optional: Sort by revenue to see highest-revenue states first
"""

# Execute the query
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:14:16,547 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:14:16,553 INFO sqlalchemy.engine.Engine
WITH state_wise_revenue AS (
    -- Calculate total revenue for each order and join with customer and order information
    SELECT
        c.customer_state AS state, -- Get the state
        SUM(oi.price + oi.freight_value) AS total_revenue -- Calculate total revenue for each order
    FROM
        olist_orders o
    JOIN
        olist_order_items oi
    ON
        o.order_id = oi.order_id
    JOIN
        olist_customers c
    ON
        o.customer_id = c.customer_id
    WHERE
        strftime('%Y', o.order_purchase_timestamp) BETWEEN '2016' AND '2018' -- Filter for 2016-2018
    GROUP BY
        c.customer_state -- Group by state to get state-wise revenue
)
-- Select the state and the total revenue
SELECT
    state,
    total_revenue
FROM
    state_wise_revenue
ORDER BY
    total_revenue DESC; -- Optional: Sort by revenue to see highest-revenue states first

INFO:sqlalchemy.engine.Engine:
WITH state_wise_revenue AS (
    -- Calculate total revenue for each order and join with customer and order information
    SELECT
        c.customer_state AS state, -- Get the state
        SUM(oi.price + oi.freight_value) AS total_revenue -- Calculate total revenue for each order
    FROM
        olist_orders o
    JOIN
        olist_order_items oi
    ON
        o.order_id = oi.order_id
    JOIN
        olist_customers c
    ON
        o.customer_id = c.customer_id
    WHERE
        strftime('%Y', o.order_purchase_timestamp) BETWEEN '2016' AND '2018' -- Filter for 2016-2018
    GROUP BY
        c.customer_state -- Group by state to get state-wise revenue
)
-- Select the state and the total revenue
SELECT
    state,
    total_revenue
FROM
    state_wise_revenue
ORDER BY
    total_revenue DESC; -- Optional: Sort by revenue to see highest-revenue states first

2024-10-29 17:14:16,557 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:14:18,181 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   state  total_revenue
0     SP     5921678.12
1     RJ     2129681.98
2     MG     1856161.49
3     RS      885826.76
4     PR      800935.44
5     BA      611506.67
6     SC      610213.60
7     DF      353229.44
8     GO      347706.93
9     ES      324801.91
10    PE      322237.69
11    CE      275606.30
12    PA      217647.11
13    MT      186168.96
14    MA      151171.99
15    PB      140987.81
16    MS      135956.67
17    PI      108132.28
18    RN      101895.08
19    AL       96229.40
20    SE       73032.32
21    TO       61354.42
22    RO       57558.02
23    AM       27835.73
24    AC       19669.70
25    AP       16262.80
26    RR       10064.62

Write and execute a SQL query to identify the top successful sellers in terms of the number of goods sold, total revenue, customer count, and sellers with the highest 5-star ratings.

In [18]:
# SQL query to identify top successful sellers based on goods sold, revenue, customer count, and 5-star ratings
query = """
WITH seller_performance AS (
    -- Join the necessary tables to calculate total revenue, goods sold, customer count, and 5-star reviews
    SELECT
        s.seller_id, -- Identify seller
        COUNT(oi.order_id) AS total_goods_sold, -- Number of goods sold
        SUM(oi.price + oi.freight_value) AS total_revenue, -- Total revenue (price + freight)
        COUNT(DISTINCT o.customer_id) AS customer_count, -- Unique customers count
        COUNT(CASE WHEN r.review_score = 5 THEN 1 END) AS five_star_reviews -- 5-star review count
    FROM
        olist_sellers s
    JOIN
        olist_order_items oi ON s.seller_id = oi.seller_id
    JOIN
        olist_orders o ON oi.order_id = o.order_id
    LEFT JOIN
        olist_order_reviews r ON o.order_id = r.order_id
    GROUP BY
        s.seller_id
)
-- Select top sellers based on various metrics
SELECT
    seller_id,
    total_goods_sold,
    total_revenue,
    customer_count,
    five_star_reviews
FROM
    seller_performance
ORDER BY
    total_goods_sold DESC, -- Sort by number of goods sold
    total_revenue DESC, -- Sort by total revenue
    customer_count DESC, -- Sort by customer count
    five_star_reviews DESC -- Sort by 5-star reviews
LIMIT 10; -- Get top 10 sellers
"""

# Execute the query
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:32:18,276 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:32:18,281 INFO sqlalchemy.engine.Engine
WITH seller_performance AS (
    -- Join the necessary tables to calculate total revenue, goods sold, customer count, and 5-star reviews
    SELECT
        s.seller_id, -- Identify seller
        COUNT(oi.order_id) AS total_goods_sold, -- Number of goods sold
        SUM(oi.price + oi.freight_value) AS total_revenue, -- Total revenue (price + freight)
        COUNT(DISTINCT o.customer_id) AS customer_count, -- Unique customers count
        COUNT(CASE WHEN r.review_score = 5 THEN 1 END) AS five_star_reviews -- 5-star review count
    FROM
        olist_sellers s
    JOIN
        olist_order_items oi ON s.seller_id = oi.seller_id
    JOIN
        olist_orders o ON oi.order_id = o.order_id
    LEFT JOIN
        olist_order_reviews r ON o.order_id = r.order_id
    GROUP BY
        s.seller_id
)
-- Select top sellers based on various metrics
SELECT
    seller_id,
    total_goods_sold,
    total_revenue,
    customer_count,
    five_star_reviews
FROM
    seller_performance
ORDER BY
    total_goods_sold DESC, -- Sort by number of goods sold
    total_revenue DESC, -- Sort by total revenue
    customer_count DESC, -- Sort by customer count
    five_star_reviews DESC -- Sort by 5-star reviews
LIMIT 10; -- Get top 10 sellers

INFO:sqlalchemy.engine.Engine:
WITH seller_performance AS (
    -- Join the necessary tables to calculate total revenue, goods sold, customer count, and 5-star reviews
    SELECT
        s.seller_id, -- Identify seller
        COUNT(oi.order_id) AS total_goods_sold, -- Number of goods sold
        SUM(oi.price + oi.freight_value) AS total_revenue, -- Total revenue (price + freight)
        COUNT(DISTINCT o.customer_id) AS customer_count, -- Unique customers count
        COUNT(CASE WHEN r.review_score = 5 THEN 1 END) AS five_star_reviews -- 5-star review count
    FROM
        olist_sellers s
    JOIN
        olist_order_items oi ON s.seller_id = oi.seller_id
    JOIN
        olist_orders o ON oi.order_id = o.order_id
    LEFT JOIN
        olist_order_reviews r ON o.order_id = r.order_id
    GROUP BY
        s.seller_id
)
-- Select top sellers based on various metrics
SELECT
    seller_id,
    total_goods_sold,
    total_revenue,
    customer_count,
    five_star_reviews
FROM
    seller_performance
ORDER BY
    total_goods_sold DESC, -- Sort by number of goods sold
    total_revenue DESC, -- Sort by total revenue
    customer_count DESC, -- Sort by customer count
    five_star_reviews DESC -- Sort by 5-star reviews
LIMIT 10; -- Get top 10 sellers

2024-10-29 17:32:18,285 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:32:19,951 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

                          seller_id  total_goods_sold  total_revenue  \
0  6560211a19b47992c3666cc44a7e94c0              2039      151636.13
1  4a3ca9315b744ce9f8e9374361493884              2009      238440.31
2  1f50f920176fa81dab994f9023523100              1940      142757.03
3  cc419e0650a3c5ba77189a1882b7556a              1819      132877.06
4  da8622b14eb17ae2831f4ac5b9dab84a              1574      188062.51
5  955fee9216a65b617aa5c0531780ce60              1501      160694.86
6  1025f0e2d44d7041d6cf58b6550e0bfa              1443      174710.82
7  7c67e1448b00f6e969d365cea6b010ab              1375      241374.82
8  ea8482cd71df3c1969d7b9473ff13abc              1204       54757.67
9  7a67c85e85bb2ce8582c35f2203ad736              1175      163278.78

   customer_count  five_star_reviews
0            1854               1024
1            1806                947
2            1404               1096
3            1706               1053
4            1314                893
5            1287                804
6             915                729
7             982                437
8            1146                620
9            1160                717

Write and execute a SQL query to calculate the delivery success rate across different states.

In [19]:
# SQL query to calculate the delivery success rate across different states
query = """
WITH state_delivery_data AS (
    -- Create a subquery that calculates whether each order was successfully delivered
    SELECT
        c.customer_state AS state,
        CASE
            WHEN o.order_delivered_customer_date <= o.order_estimated_delivery_date
            THEN 1
            ELSE 0
        END AS delivery_success -- Check if the order was delivered on or before the estimated date
    FROM
        olist_orders o
    JOIN
        olist_customers c ON o.customer_id = c.customer_id
    WHERE
        o.order_delivered_customer_date IS NOT NULL -- Exclude orders that haven't been delivered yet
)

-- Calculate the success rate for each state
SELECT
    state,
    SUM(delivery_success) AS successful_deliveries, -- Total successful deliveries
    COUNT(*) AS total_deliveries, -- Total deliveries
    (SUM(delivery_success) * 100.0 / COUNT(*)) AS success_rate -- Calculate success rate percentage
FROM
    state_delivery_data
GROUP BY
    state
ORDER BY
    success_rate DESC; -- Sort by highest success rate
"""

# Execute the query
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:35:24,807 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:35:24,812 INFO sqlalchemy.engine.Engine
WITH state_delivery_data AS (
    -- Create a subquery that calculates whether each order was successfully delivered
    SELECT
        c.customer_state AS state,
        CASE
            WHEN o.order_delivered_customer_date <= o.order_estimated_delivery_date
            THEN 1
            ELSE 0
        END AS delivery_success -- Check if the order was delivered on or before the estimated date
    FROM
        olist_orders o
    JOIN
        olist_customers c ON o.customer_id = c.customer_id
    WHERE
        o.order_delivered_customer_date IS NOT NULL -- Exclude orders that haven't been delivered yet
)

-- Calculate the success rate for each state
SELECT
    state,
    SUM(delivery_success) AS successful_deliveries, -- Total successful deliveries
    COUNT(*) AS total_deliveries, -- Total deliveries
    (SUM(delivery_success) * 100.0 / COUNT(*)) AS success_rate -- Calculate success rate percentage
FROM
    state_delivery_data
GROUP BY
    state
ORDER BY
    success_rate DESC; -- Sort by highest success rate

INFO:sqlalchemy.engine.Engine:
WITH state_delivery_data AS (
    -- Create a subquery that calculates whether each order was successfully delivered
    SELECT
        c.customer_state AS state,
        CASE
            WHEN o.order_delivered_customer_date <= o.order_estimated_delivery_date
            THEN 1
            ELSE 0
        END AS delivery_success -- Check if the order was delivered on or before the estimated date
    FROM
        olist_orders o
    JOIN
        olist_customers c ON o.customer_id = c.customer_id
    WHERE
        o.order_delivered_customer_date IS NOT NULL -- Exclude orders that haven't been delivered yet
)

-- Calculate the success rate for each state
SELECT
    state,
    SUM(delivery_success) AS successful_deliveries, -- Total successful deliveries
    COUNT(*) AS total_deliveries, -- Total deliveries
    (SUM(delivery_success) * 100.0 / COUNT(*)) AS success_rate -- Calculate success rate percentage
FROM
    state_delivery_data
GROUP BY
    state
ORDER BY
    success_rate DESC; -- Sort by highest success rate

2024-10-29 17:35:24,815 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:35:25,335 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

   state  successful_deliveries  total_deliveries  success_rate
0     RO                    236               243     97.119342
1     AC                     77                80     96.250000
2     AM                    139               145     95.862069
3     AP                     64                67     95.522388
4     PR                   4677              4923     95.003047
5     MG                  10717             11355     94.381330
6     SP                  38108             40495     94.105445
7     MT                    826               886     93.227991
8     DF                   1933              2080     92.932692
9     RS                   4962              5344     92.851796
10    GO                   1797              1957     91.824221
11    SC                   3201              3547     90.245278
12    RN                    423               474     89.240506
13    PE                   1421              1593     89.202762
14    PB                    460               517     88.974855
15    MS                    620               701     88.445078
16    RR                     36                41     87.804878
17    ES                   1751              1995     87.769424
18    PA                    829               946     87.632135
19    TO                    239               274     87.226277
20    RJ                  10689             12353     86.529588
21    BA                   2799              3256     85.964373
22    SE                    284               335     84.776119
23    CE                   1083              1279     84.675528
24    PI                    400               476     84.033613
25    MA                    576               717     80.334728
26    AL                    302               397     76.070529

Write and execute a SQL query to find the preferred form of payment for different product categories.

In [20]:
# SQL query to find the preferred form of payment for different product categories
query = """
WITH payment_counts AS (
    -- Join tables to get product categories and payment methods
    SELECT
        p.product_category_name AS category,
        py.payment_type AS payment_method,
        COUNT(py.payment_type) AS payment_count -- Count payment method usage
    FROM
        olist_order_items oi
    JOIN
        olist_products p ON oi.product_id = p.product_id -- Join to get product categories
    JOIN
        olist_orders o ON oi.order_id = o.order_id -- Join to connect orders with order items
    JOIN
        olist_order_payments py ON o.order_id = py.order_id -- Join to get payment methods
    GROUP BY
        p.product_category_name, py.payment_type -- Group by product category and payment method
)
-- Now we select the preferred payment method (highest count) for each product category
SELECT
    category,
    payment_method,
    MAX(payment_count) AS max_count
FROM
    payment_counts
GROUP BY
    category
ORDER BY
    max_count DESC;
"""

# Execute the query
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:45:14,083 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:45:14,088 INFO sqlalchemy.engine.Engine
WITH payment_counts AS (
    -- Join tables to get product categories and payment methods
    SELECT
        p.product_category_name AS category,
        py.payment_type AS payment_method,
        COUNT(py.payment_type) AS payment_count -- Count payment method usage
    FROM
        olist_order_items oi
    JOIN
        olist_products p ON oi.product_id = p.product_id -- Join to get product categories
    JOIN
        olist_orders o ON oi.order_id = o.order_id -- Join to connect orders with order items
    JOIN
        olist_order_payments py ON o.order_id = py.order_id -- Join to get payment methods
    GROUP BY
        p.product_category_name, py.payment_type -- Group by product category and payment method
)
-- Now we select the preferred payment method (highest count) for each product category
SELECT
    category,
    payment_method,
    MAX(payment_count) AS max_count
FROM
    payment_counts
GROUP BY
    category
ORDER BY
    max_count DESC;

INFO:sqlalchemy.engine.Engine:
WITH payment_counts AS (
    -- Join tables to get product categories and payment methods
    SELECT
        p.product_category_name AS category,
        py.payment_type AS payment_method,
        COUNT(py.payment_type) AS payment_count -- Count payment method usage
    FROM
        olist_order_items oi
    JOIN
        olist_products p ON oi.product_id = p.product_id -- Join to get product categories
    JOIN
        olist_orders o ON oi.order_id = o.order_id -- Join to connect orders with order items
    JOIN
        olist_order_payments py ON o.order_id = py.order_id -- Join to get payment methods
    GROUP BY
        p.product_category_name, py.payment_type -- Group by product category and payment method
)
-- Now we select the preferred payment method (highest count) for each product category
SELECT
    category,
    payment_method,
    MAX(payment_count) AS max_count
FROM
    payment_counts
GROUP BY
    category
ORDER BY
    max_count DESC;

2024-10-29 17:45:14,093 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-10-29 17:45:15,331 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

                                         category payment_method  max_count
0                                 cama_mesa_banho    credit_card       8959
1                                    beleza_saude    credit_card       7566
2                                   esporte_lazer    credit_card       6635
3                                moveis_decoracao    credit_card       6379
4                          informatica_acessorios    credit_card       5436
..                                            ...            ...        ...
69                              cds_dvds_musicais    credit_card          9
70  portateis_cozinha_e_preparadores_de_alimentos    credit_card          8
71                                       pc_gamer    credit_card          5
72                  fashion_roupa_infanto_juvenil    credit_card          5
73                             seguros_e_servicos         boleto          1

[74 rows x 3 columns]

Write and execute a SQL query to calculate the distance between cities

In [ ]:
# SQL query to calculate the distance between cities using the Haversine formula
query = """
WITH city_pairs AS (
    -- Self-join the geolocation table to create pairs of cities
    SELECT
        g1.geolocation_city AS city1,
        g2.geolocation_city AS city2,
        g1.geolocation_lat AS lat1,
        g1.geolocation_lng AS lon1,
        g2.geolocation_lat AS lat2,
        g2.geolocation_lng AS lon2
    FROM
        olist_geolocation g1
    JOIN
        olist_geolocation g2
    ON
        g1.geolocation_city <> g2.geolocation_city -- Avoid pairing a city with itself
)
-- Calculate the Haversine distance between city pairs
SELECT
    city1,
    city2,
    (6371 * acos(cos(radians(lat1)) * cos(radians(lat2)) * cos(radians(lon2) - radians(lon1)) + sin(radians(lat1)) * sin(radians(lat2)))) AS distance_km
FROM
    city_pairs
ORDER BY
    distance_km;
"""

# Execute the query
result = pd.read_sql_query(query, engine)

# Display the result
print(result)

2024-10-29 17:59:09,815 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-10-29 17:59:09,819 INFO sqlalchemy.engine.Engine
WITH city_pairs AS (
    -- Self-join the geolocation table to create pairs of cities
    SELECT
        g1.geolocation_city AS city1,
        g2.geolocation_city AS city2,
        g1.geolocation_lat AS lat1,
        g1.geolocation_lng AS lon1,
        g2.geolocation_lat AS lat2,
        g2.geolocation_lng AS lon2
    FROM
        olist_geolocation g1
    JOIN
        olist_geolocation g2
    ON
        g1.geolocation_city <> g2.geolocation_city -- Avoid pairing a city with itself
)
-- Calculate the Haversine distance between city pairs
SELECT
    city1,
    city2,
    (6371 * acos(cos(radians(lat1)) * cos(radians(lat2)) * cos(radians(lon2) - radians(lon1)) + sin(radians(lat1)) * sin(radians(lat2)))) AS distance_km
FROM
    city_pairs
ORDER BY
    distance_km;

INFO:sqlalchemy.engine.Engine:
WITH city_pairs AS (
    -- Self-join the geolocation table to create pairs of cities
    SELECT
        g1.geolocation_city AS city1,
        g2.geolocation_city AS city2,
        g1.geolocation_lat AS lat1,
        g1.geolocation_lng AS lon1,
        g2.geolocation_lat AS lat2,
        g2.geolocation_lng AS lon2
    FROM
        olist_geolocation g1
    JOIN
        olist_geolocation g2
    ON
        g1.geolocation_city <> g2.geolocation_city -- Avoid pairing a city with itself
)
-- Calculate the Haversine distance between city pairs
SELECT
    city1,
    city2,
    (6371 * acos(cos(radians(lat1)) * cos(radians(lat2)) * cos(radians(lon2) - radians(lon1)) + sin(radians(lat1)) * sin(radians(lat2)))) AS distance_km
FROM
    city_pairs
ORDER BY
    distance_km;

2024-10-29 17:59:09,822 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()